@import '../../index.scss';

.post {
  background-color: $color-white;
  width: 100rem;
  margin: 0 auto;
  padding: 3rem;
  margin-top: 2rem;

  &_heading {
    text-align: center;
  }
  &_image {
    width: 50rem;
    margin: 2rem auto;

    img {
      width: 100%;
      height: auto;
    }
  }
  &_author {
    font-style: italic;
    span {
      font-weight: bold;
    }
  }

  &_text {
    font-weight: 500;
    text-align: justify;
    padding: 1rem;
    color: #000;
  }
}
