.item {
  display: flex;
  list-style-type: none;

  &_img {
    max-width: 50%;

    padding: 2rem;

    img {
      width: 100%;
      max-height: 20rem;
    }
  }

  &_info {
    width: 48%;
    padding: 2rem;
    margin-left: 2%;
  }
}
